<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssemi.ssemibucks.PRODUCT.ProductMapperInter">

    <!-- 전체 상품 목록 -->
    <select id="getAllProducts" resultType="Product">
        select * from PRODUCT
    </select>

    <!-- 카테고리별 상품 목록 -->
    <select id="getAllProductsOfCategory" resultType="Product" parameterType="String">
        select * from PRODUCT where category=#{category}
    </select>

    <!-- 상품 상세페이지 -->
    <select id="getProductByPId" resultType="Product" parameterType="String">
        select * from PRODUCT where pId=#{pId}
    </select>

    <!-- 상품 추가 -->
    <insert id="insertOfProduct" parameterType="Product">
        insert into PRODUCT values(#{pId}, #{pName}, #{pOption}, #{category}, #{price}, #{pStock}, #{pDetail}, #{pImage})
    </insert>

    <!-- 상품 삭제 -->
    <delete id="deleteOfProduct" parameterType="String">
        delete from PRODUCT where pId=#{pId}
    </delete>

    <!-- 상품 수정 -->
    <update id="updateOfProduct" parameterType="Product">
        update PRODUCT set price=#{price},pStock=#{pStock},pDetail=#{pDetail},pImage=#{pImage} where pId=#{pId}
    </update>

    <!-- 상품 아이디 존재 여부 확인 - 중복 상품 등록 방지 -->
    <select id="isDuplicationPId" parameterType="String" resultType="Product">
        select * from PRODUCT where pId=#{pId}
    </select>
</mapper>