<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ssemibucks_MyPage</title>

    <!-- Core theme CSS (includes Bootstrap)-->
<!--    <link href="css/styles.css" rel="stylesheet" />-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <script src="js/includeHTML.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <div include-html="navbar.html"></div>
    <script>includeHTML();</script>

    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full">
      <div
        class="text-center my-5"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
        "
      >
        <img
          class="img-fluid rounded-circle mb-4"
          src="img/user.JPG"
          alt="..."
          width="120px"
          height="120px"
        />
        <i class="fas fa-user"></i>
        <h1 class="text-white fs-3 fw-bolder">uName님</h1>
        <p class="text-white-50 mb-0">환영합니다</p>
      </div>
    </header>
    <!-- Content section-->
    <div class="container my-5">
      <!-- <div class="row justify-content-center"> -->
      <div class="col-lg-6">
        <h1>My Information</h1>
        <hr />
        <table class="table table-stripped" align="center">
          <tr>
            <div class="uId">
              <th style="vertical-align: middle">아이디</th>
              <td style="vertical-align: middle">uId</td>
            </div>
          </tr>
          <tr>
            <div class="pw">
              <th style="vertical-align: middle">비밀번호</th>
              <td style="vertical-align: middle">pw</td>
            </div>
          </tr>
          <tr>
            <div class="uName">
              <th style="vertical-align: middle">이름</th>
              <td style="vertical-align: middle">uName</td>
            </div>
          </tr>
          <tr>
            <div class="hp">
              <th style="vertical-align: middle">전화번호</th>
              <td style="vertical-align: middle">hp</td>
            </div>
          </tr>
          <tr>
            <div class="addr">
              <th style="vertical-align: middle">주소</th>
              <td style="vertical-align: middle">addr</td>
            </div>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button
                type="button"
                class="btn mybtn btnmodify"
                onclick="location.href='usermodify.html'"
              >
                정보수정
              </button>
              <button
                type="button"
                class="btn mybtn btndropout"
                onclick="confirm('정말 탈퇴하시겠습니까?')"
              >
                회원탈퇴
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- </div> -->
    </div>

    <!-- Bootstrap core JS-->
  </body>
</html>
